.white-field {
    background-color: #d2d4cd;
}

.white-field:hover {
    background-color: #edf0e6;
}

.black-field {
    background-color: #ac9a32;
}

.black-field:hover {
    background-color: #d3bd40;
}

.chess-field {
    width: 100px;
    height: 100px;
}