.pawns-and-board {
    display: flex;
    flex-direction: row;
}

.white-pawns,
.black-pawns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pawns-and-board .row-fields {
    display: flex;
    flex-direction: row;
}

.row-header {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns-header {
    display: flex;
}

.columns-header .column-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

